.hero {
  position: relative;
}
.hero__container {
  display: flex;

  position: absolute;
  top: -175px;
}
.hero__box {
  display: inline-block;
  width: 800px;

  text-align: center;
  // box-sizing: content-box;
  background-color: rgba(11, 218, 81, 0.9);
 
  
}

.hero__img {
  display: block;
}
